/Assignment/Second partial/Hw2 Classes/UseOfClasses/build/
/Workshop/Second partial/Workshop03/Management System/nbproject/private/
/Assignment/Second partial/Hw06Interpretation of the uml diagram v1.1/Management System/build/
/Workshop/Second partial/Workshop05/polymorphism/nbproject/private/
/Workshop/Second partial/Workshop05 Polymorphism/polymorphism/nbproject/private/
/Workshop/Second partial/Workshop05 Polymorphism/polymorphism/build/
/Assignment/Second partial/Nueva Carpeta/MenuPro/nbproject/private/
/Assignment/Second partial/Nueva Carpeta/MenuPro/build/
/Assignment/Second partial/Nueva Carpeta (2)/Worshop26Interface/nbproject/private/
/Workshop/Second partial/Workshop26/Worshop26Interface/nbproject/private/
/Workshop/Second partial/Workshop01 Ejercicios/OneExerciseOne/build/
/Workshop/Second partial/Workshop01 Ejercicios/OneExerciseOne/nbproject/private/
/Workshop/Second partial/Workshop01 Ejercicios/TwoExerciseTwo/build/
/Workshop/Second partial/Workshop01 Ejercicios/TwoExerciseTwo/nbproject/private/
/Workshop/Second partial/Workshop26/Worshop26Interface/build/
/Assignment/Second partial/Hw12Menu/MenuPro/build/
/Assignment/Second partial/Hw12Menu/MenuPro/nbproject/private/
/Workshop/Second partial/Workshop27 12 Clean/-Lo-Nuestro-R-E-System-master/03-CodeWithFiles/LoNuestroR&ESystem/build/
/Proyect/04 Code/MechanicSystem/build/
/Proyect/04 Code/MechanicSystem/nbproject/private/
/Proyect/04 Code/Mechanics.Java/build/
/Proyect/04 Code/Mechanics.Java/nbproject/private/
/Proyect/04 Code/Password/build/
/Proyect/04 Code/Password/nbproject/private/
/Proyect/04 Code/Super User/build/
/Proyect/04 Code/Super User/nbproject/private/
/Proyect/Examples/Example 1/build/
/Proyect/Examples/Example 1/nbproject/private/
/Proyect/Examples/Example 2/Student/build/
/Proyect/Examples/Example 2/Student/nbproject/private/
/Proyect/Examples/Example Csv/BookMS/build/
/Proyect/Examples/Example Csv/BookMS/nbproject/private/