/Assignment/Second partial/Hw2 Classes/UseOfClasses/build/
/Workshop/Second partial/Workshop03/Management System/nbproject/private/
/Assignment/Second partial/Hw06Interpretation of the uml diagram v1.1/Management System/build/
/Workshop/Second partial/Workshop05/polymorphism/nbproject/private/
/Workshop/Second partial/Workshop05 Polymorphism/polymorphism/nbproject/private/
/Workshop/Second partial/Workshop05 Polymorphism/polymorphism/build/
/Assignment/Second partial/Nueva Carpeta/MenuPro/nbproject/private/
/Assignment/Second partial/Nueva Carpeta/MenuPro/build/
/Assignment/Second partial/Nueva Carpeta (2)/Worshop26Interface/nbproject/private/
/Workshop/Second partial/Workshop26/Worshop26Interface/nbproject/private/
/Workshop/Second partial/Workshop01 Ejercicios/OneExerciseOne/build/
/Workshop/Second partial/Workshop01 Ejercicios/OneExerciseOne/nbproject/private/
/Workshop/Second partial/Workshop01 Ejercicios/TwoExerciseTwo/build/
/Workshop/Second partial/Workshop01 Ejercicios/TwoExerciseTwo/nbproject/private/
/Workshop/Second partial/Workshop26/Worshop26Interface/build/